body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    justify-content: center; /* eje vertical */
    align-items: center;     /* eje horizontal */

    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: black;

}

.metronomo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 90%;
    height: 90%;
}

.input {
    width: 100%;
    height: 20%;
    
    padding: 4px;
    text-align: center;
    box-sizing: border-box;
    
    font-size: 60px;
    font-weight: bold;
    font-family: arial ;
    color: white;
    
    border: 1px solid black;
    border-radius: 50px;
    border-color: white;
    background-color: transparent;

    outline: none;
}

.button {
    width: 100%;
    height: 20%;
    
    padding: 6px;
    cursor: pointer;
    box-sizing: border-box;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;

    border-radius: 50px;
}