body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    justify-content: center; /* eje vertical */
    align-items: center;     /* eje horizontal */

    height: 100vh;
}

.metronomo {
    display: flex;
    flex-direction: column;

    gap: 10px;          
    padding: 10px;

    border: 1px solid rgb(0,0,0);
    border-radius: 6px;

    width: 300px
}

.input {
    width: 100%;
    padding: 4px;
    text-align: center;
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: 6px;
    cursor: pointer;
    box-sizing: border-box;
}